.container-project {
  display: flex;
  flex-wrap: wrap;
  gap: 1.333333333%;
}
.project-preview {
  flex: 1 1 24%;
  margin: 0 auto 1.33333% auto;
  justify-content: center;
  position: relative;
}

.project-text {
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.project-preview img {
  width: 100%;
  height: auto;
  /* margin-top: 4rem; */
}
.project-text h1 {
  font: 24px Arial;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
}
.project-preview-h2 {
  position: absolute;
  top: 0px;

  font: 16px Arial;
  color: white;
  background-color: black;
  padding: 8px 16px;
}
